<article class="property-card multi-unit">
  <h3><%= multi_unit_property.name %> (Complex)</h3>
  <p><%= multi_unit_property.address %></p>
  <p><%= multi_unit_property.city %>, <%= multi_unit_property.state %></p>
  <span class="badge">Multi-Unit Building</span>
</article>
