<nav>
    <ul>
        <li><strong>Ruby State Portal</strong></li>
    </ul>
    <ul>
        <li> <%= button_to "Logout", session_path, method: :delete, form: { data: { turbo_confirm: "Are you sure you want to log out?" } } %> </li>
    </ul>
</nav>
