<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>

<% content_for :title, "Password Reset" %>
<% content_for :navbar, render("navbar") %>

<h1>Password Reset Page</h1>
<p>Welcome to the Password Reset Page</p>

<%= form_with url: passwords_path do |form| %>
  <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address] %><br>
  <%= form.submit "Email reset instructions" %>
<% end %>
