<nav>
    <ul>
        <li><strong>Ruby State Portal</strong></li>
    </ul>
    <ul>
        <li><%= link_to "Logout", session_path, data: { turbo_method: :delete }, class: "secondary" %></li>
    </ul>
</nav>